.nwcontainer {
    height: 100%;
    overflow-y: scroll;
}
img{height: 50px;}
.newsbox{ 
    background-color: #ffffff;
    border-radius: 15px; 
    box-shadow:  -4px -4px 15px #ffffff,  4px 4px 15px #d7d9dd;
}
*{
    padding: 0px;
}
body{
    background-color: #e3e6e9;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}